<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boletín Informativo</title>
  </head>
  <body
    contenteditable="true"
    style="
      font-family: 'Arial', sans-serif;
      background-color: #fafafa;
      color: #333;
      margin: 0;
    "
  >
    <div
      style="
        background-color: #00796b;
        color: white;
        padding: 20px;
        text-align: center;
      "
    >
      <h1 style="margin: 0">Boletín Informativo - Enero 2025</h1>
    </div>

    <div
      style="
        padding: 20px;
        margin: 10px;
        background-color: white;
        border-radius: 8px;
      "
    >
      <h2 style="font-family: 'Arial', sans-serif; color: #333; margin-top: 0">
        Nuevo Lanzamiento de Producto
      </h2>
      <p
        style="
          font-family: 'Arial', sans-serif;
          color: #333;
          margin: 0 0 10px 0;
        "
      >
        Nos complace anunciar el lanzamiento de nuestro nuevo producto. Este
        innovador artículo está diseñado para mejorar la productividad de tu
        equipo...
      </p>
    </div>

    <div
      style="
        padding: 20px;
        margin: 10px;
        background-color: white;
        border-radius: 8px;
      "
    >
      <h2 style="font-family: 'Arial', sans-serif; color: #333; margin-top: 0">
        Consejos para Optimizar el Rendimiento
      </h2>
      <p
        style="
          font-family: 'Arial', sans-serif;
          color: #333;
          margin: 0 0 10px 0;
        "
      >
        En este artículo, discutimos algunos de los mejores consejos para
        mejorar la eficiencia en el lugar de trabajo. Aprende cómo maximizar tu
        productividad con estos simples cambios...
      </p>
    </div>

    <div
      style="
        background-color: #00796b;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
      "
    >
      <p style="color: white; margin: 0; padding: 10px">
        &copy; 2025 Compañía XYZ
      </p>
    </div>
  </body>
</html>
